In [6]:
import pandas as pd
import sqlite3
import seaborn as sns
import matplotlib.pyplot as plt
import sqlite3 



conn = sqlite3.connect('Outpatient_provdr.db') # Create SQL Database name 'Outpatient_provdr'
Outpatient_provdr = pd.read_csv('Outpatient_provdr.csv') # Read the CSV file
Outpatient_provdr.to_sql('Outpatient_provdr', conn, if_exists = 'replace') #Populate the database with the CSV

Data Inspection

In [13]:
top_of = list(Outpatient_provdr) 
print('The names of the cloumns are: \t') 
count = 1 
for top in top_of: 
    print('\n {}. {}' .format(count, top)) 
    count += 1

The names of the cloumns are:

 1. APC

 2. Provider Id

 3. Provider Name

 4. Provider Street Address

 5. Provider City

 6. Provider State

 7. Provider Zip Code

 8. Hospital Referral Region (HRR) Description

 9. Outpatient Services

 10. Average  Estimated Submitted Charges

 11. Average Total Payments

In [17]:
rows = len(Outpatient_provdr)
print("There are {} rows, and therefore there are that many potential Patient".format(rows))

There are 43372 rows, and therefore there are that many potential Patient

In [24]:
not_interference = Outpatient_provdr[Outpatient_provdr['Average Total Payments'] > 0] #Sets the index to all entries where target_class > 1 = True
not_interference.head()    #Display just the first five entries

,APC,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region (HRR) Description,Outpatient Services,Average Estimated Submitted Charges,Average Total Payments
0,0012 - Level I Debridement & Destruction,10029,EAST ALABAMA MEDICAL CENTER AND SNF,2000 PEPPERELL PARKWAY,OPELIKA,AL,36801,AL - Birmingham,23,78.086957,21.910435
1,0012 - Level I Debridement & Destruction,20024,CENTRAL PENINSULA GENERAL HOSPITAL,250 HOSPITAL PLACE,SOLDOTNA,AK,99669,AK - Anchorage,994,149.589749,36.623853
2,0012 - Level I Debridement & Destruction,30064,"UNIVERSITY OF ARIZONA MEDICAL CTR-UNIVERSIT, THE",1501 NORTH CAMPBELL AVENUE,TUCSON,AZ,85724,AZ - Tucson,1765,50.135411,14.541841
3,0012 - Level I Debridement & Destruction,30088,BANNER BAYWOOD MEDICAL CENTER,6644 EAST BAYWOOD AVENUE,MESA,AZ,85206,AZ - Mesa,20,112.400000,23.736000
4,0012 - Level I Debridement & Destruction,30111,"UNIVERSITY OF ARIZONA MEDICAL CTR- SOUTH CAM, THE",2800 EAST AJO WAY,TUCSON,AZ,85713,AZ - Tucson,22,152.045455,16.569091

According to the dataset documentation, there are 43372 'positive examples' (Outpatient); let's confirm that this is true:

In [26]:

print(len(not_interference))

43372

In [ ]:
correlated_data = Outpatient_provdr.corr()
plt.figure(figsize=(10,8))
sns.heatmap(correlated_data,annot=True,
            cmap='coolwarm',
            linewidth=2)
plt.title("CORRELATION BETWEEN VARIABLES")
plt.show()